.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar-left {
    flex: 9;
}
.navbar-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9e8e8; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    opacity: 1;
    animation: fade 0.25s linear;
}

.nav-overlay-inner {
    padding: 0 5%;
    font-size: 200%;
}


@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}